#full-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#etch-a-sketch-board {
    width: 18rem;
    height: 14.5rem;
    position: absolute;
    top: 20px;
    left: 90px;
    display: grid;
}

#tv-image {
    position: absolute;
}

#tv-and-etch-board-container {
    width: 600px;
    height: 400px;
    position: relative;
}

#reset-button {
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    color: white;
    background-color: cornflowerblue;
    font-size: 2rem;
    transition-duration: 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#reset-button:hover {
    transform: scale(1.2);
}

#reset-button:active {
    transform: scale(1.0);
}